.calendar
  .calendar_head

    .calendar_sub
      <a href="#">Календарь мероприятий</a>

    ul#nav
      li
        a href="#" 2015 год
        <ul>
          <li><a href="#">2013 год</a></li>
          <li><a href="#">2014 год</a></li>
          <li><a href="#">2015 год</a></li>
          <li><a href="#">2016 год</a></li>

    .calendar_search
      <form action="" class="search" method="post">
        <input class="input" name="" placeholder="Поиск по сайту" type="search">
        <input class="submit" name="" type="submit" value="">
        <button>Найти</button>

  <div id="tab_block">
    <ul id="tabs">
      <li id="tab1" class="tab active" onclick="funcTab(1);">Январь</li>
      <li id="tab2" class="tab" onclick="funcTab(2);">Февраль</li>
      <li id="tab3" class="tab" onclick="funcTab(3);">Март</li>
      <li id="tab4" class="tab" onclick="funcTab(4);">Апрель</li>
      <li id="tab5" class="tab" onclick="funcTab(5);">Май</li>
      <li id="tab6" class="tab" onclick="funcTab(6);">Июнь</li>
      <li id="tab7" class="tab" onclick="funcTab(7);">Июль</li>
      <li id="tab8" class="tab" onclick="funcTab(8);">Август</li>
      <li id="tab9" class="tab" onclick="funcTab(9);">Сентябрь</li>
      <li id="tab10" class="tab" onclick="funcTab(10);">Октбярь</li>
      <li id="tab11" class="tab" onclick="funcTab(11);">Ноябрь</li>
      <li id="tab12" class="tab" onclick="funcTab(12);">Декабрь</li>
    </ul>

    <div id="tabs_content">
      <div class="tab_content active" id="tab_content1">
        <span class="calendar_news">
          <p class="calendar_one_news">	
          <span class="today">Сегодня 1 января</span>
          <br>
          <a href="#">Всеросийская олимпиада</a>
          <br>
          <a class="category" href="#">Русский язык</a>
          <br>
          <span>Длительность: 1 день</span>
          </p>

          <p class="calendar_one_news">
          <span class="today">Сегодня 1 января</span>
          <br>
          <a href="#">Всеросийская олимпиада</a>
          <br>
          <a class="category" href="#">Русский язык</a>
          <br>
          <span>Длительность: 1 день</span>
          </p>
        </span>


        <span class="calendar_news">
          <p class="calendar_one_news">	
          <span class="evry">15 января</span>
          <br>
          <a href="#">Всеросийская олимпиада</a>
          <br>
          <a class="category" href="#">Химия</a>
          <br>
          <span>Длительность: с 15-18 января</span>
          </p>

          <p class="calendar_one_news">
          <span class="evry">20 января</span>
          <br>
          <a href="#">Региональные олимпиады</a>
          <br>
          <a class="category" href="#">Литература ХХ века</a>
          <br>
          <span>Длительность: с 20-24 января</span>
          </p>
        </span>

        <span class="calendar_news">
          <p class="calendar_one_news">	
          <span class="evry">20 января</span>
          <br>
          <a href="#">Всеросийская олимпиада</a>
          <br>
          <a class="category" href="#">Русский язык</a>
          <br>
          <span>Длительность: 1 день</span>
          </p>

          <p class="calendar_one_news">
          <span class="evry">20 января</span>
          <br>
          <a href="#">Выставка</a>
          <br>
          <a class="category" href="#">Учебник малых народов</a>
          <br>
          <span>Длительность: с 20-24 января</span>
          </p>
        </span>
      </div>
    </div>
  </div>

  <div class="categories">
    <div class="category_one">
      <div class="image">
        <img src="/images/category1.png">
      </div>
      <a href="#">Олимпиада РСОШ</a>
    </div>

    <div class="category_one">
      <div class="image">
        <img src="/images/category2.png">
      </div>
      <a href="#">Региональная олимпиада</a>
    </div>

    <div class="category_one">
      <div class="image">
        <img src="/images/category3.png">
      </div>
      <a href="#">Всероссийская олимпиада</a>
    </div>


    <div class="category_one">
      <div class="image">
        <img src="/images/category4.png">
      </div>
      <a href="#">Научная деятельность</a>
    </div>
  </div>
