// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
// @import "active_admin/mixins";
// @import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

//= require_tree ./active_admin
//= require_self

#wrapper {
  width: auto;
}

.header2 {
  width: auto;
}

.footer2 {
  width: auto;
}

#main_content {
  margin: 0 300px 0 0;
}

#sidebar {
  margin: 0 0 0 -270px;
  width: 270px;
}

#header #utility_nav li {
  display: inline-block;
}

#header #utility_nav a {
  text-decoration: none;
  border: none;
  padding: 0;
  width: auto;
  height: auto;
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-image: none;
}

#header #utility_nav #logout a {
  border: 1px solid;
  border-color: #737373;
  border-radius: 3px;
  padding: 3px 0px 0px 15px;
  width: 77px;
  height: 30px;
  background-image: image-url('Vector_Smart_Object.png');
  background-position: 4px 6px;
}

.site_title {
  background-image: image-url('Shape_51.png');
}

fieldset li select {
  background: image-url('select.png') no-repeat 100% 50%, linear-gradient(to top, #f1f1f1, #fff);
}

.news {
  margin: 0;
}
